services:
  app:
    build:
      context: ./docker/php
    container_name: trustfactory_app
    working_dir: /var/www
    volumes:
      - ./src:/var/www
    depends_on:
      - mysql

  nginx:
    image: nginx:alpine
    container_name: trustfactory_nginx
    ports:
      - "80:80"
    volumes:
      - ./src:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

  mysql:
    image: mysql:8.0
    container_name: trustfactory_mysql
    environment:
      MYSQL_DATABASE: trustfactory
      MYSQL_USER: trustfactory
      MYSQL_PASSWORD: secret
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - mysql_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: trustfactory_phpmyadmin
    ports:
      - "8080:80"
    environment:
      PMA_HOST: mysql
      PMA_USER: root
      PMA_PASSWORD: root
    depends_on:
      - mysql

volumes:
  mysql_data:
